<strong>Olá,{{organizer}}!</strong>
<p>Você tem um novo inscrito na sua Meetup <b>{{meetup}}</b></p> <br>
<p>
  <strong>Nome: </strong> {{name}} <br>
  <strong>Email: </strong> {{email}} <br>
  <small>
    Agora sua Meetup possui {{amount}} participantes!
  </small>
</p>